.color-primary .label-rgb:before {
  content: "217 / 245 / 232"; }

.color-primary .label-hsl:before {
  content: "152deg / 58% / 91%"; }

.color-primary .swatch {
  background: #D9F5E8; }

.color-primary .swatch-light {
  background: white; }

.color-primary .swatch-dark {
  background: #b1ead0; }

.color-primary .mixed-with-primary .swatch {
  background: #d9f5e8; }

.color-secondary .mixed-with-primary .swatch {
  background: #a0e6db; }

.color-tertiary .mixed-with-primary .swatch {
  background: #e6e1a9; }

.color-accent .mixedwith-primary .swatch {
  background: #e6c2b0; }

.color-secondary .label-rgb:before {
  content: "55 / 203 / 194"; }

.color-secondary .label-hsl:before {
  content: "176deg / 59% / 51%"; }

.color-secondary .swatch {
  background: #37cbc2; }

.color-secondary .swatch-light {
  background: #5fd6ce; }

.color-secondary .swatch-dark {
  background: #2ba49d; }

.color-primary .mixed-with-secondary .swatch {
  background: #70dacf; }

.color-secondary .mixed-with-secondary .swatch {
  background: #37cbc2; }

.color-tertiary .mixed-with-secondary .swatch {
  background: #7dc590; }

.color-accent .mixedwith-secondary .swatch {
  background: #7da797; }

.color-tertiary .label-rgb:before {
  content: "255 / 187 / 51"; }

.color-tertiary .label-hsl:before {
  content: "40deg / 100% / 60%"; }

.color-tertiary .swatch {
  background: #fb3; }

.color-tertiary .swatch-light {
  background: #ffcc66; }

.color-tertiary .swatch-dark {
  background: #ffaa00; }

.color-primary .mixed-with-tertiary .swatch {
  background: #f2cf72; }

.color-secondary .mixed-with-tertiary .swatch {
  background: #b9c165; }

.color-tertiary .mixed-with-tertiary .swatch {
  background: #ffbb33; }

.color-accent .mixedwith-tertiary .swatch {
  background: #ff9c3a; }

.color-accent .label-rgb:before {
  content: "255 / 99 / 71"; }

.color-accent .label-hsl:before {
  content: "9deg / 100% / 64%"; }

.color-accent .swatch {
  background: #FF6347; }

.color-accent .swatch-light {
  background: #ff8e7a; }

.color-accent .swatch-dark {
  background: #ff3814; }

.color-primary .mixed-with-accent .swatch {
  background: #f2967f; }

.color-secondary .mixed-with-accent .swatch {
  background: #b98772; }

.color-tertiary .mixed-with-accent .swatch {
  background: #ff8240; }

.color-accent .mixedwith-accent .swatch {
  background: tomato; }

.color-primary .label-name:before,
.color-primary h3.subheader:before {
  content: "Mint"; }

.color-secondary .label-name:before,
.color-secondary h3.subheader:before {
  content: "Teal"; }

.color-tertiary .label-name:before,
.color-tertiary h3.subheader:before {
  content: "Gold"; }

.color-accent .label-name:before,
.color-accent h3.subheader:before {
  content: "Tomato"; }

.mixed-with-primary h4:before {
  content: "Mixed with 65% Mint"; }

.mixed-with-secondary h4:before {
  content: "Mixed with 65% Teal"; }

.mixed-with-tertiary h4:before {
  content: "Mixed with 65% Gold"; }

.mixed-with-accent h4:before {
  content: "Mixed with 65% Tomato"; }

.wrapper, .row {
  *zoom: 1; }
  .wrapper:before, .row:before, .wrapper:after, .row:after {
    content: "";
    display: table; }
  .wrapper:after, .row:after {
    clear: both; }

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif; }

hr {
  margin-bottom: 1em; }

h1 {
  margin-bottom: 0;
  font-weight: lighter;
  font-size: 25px; }

h2 {
  margin-top: 1em;
  margin-bottom: 0;
  font-size: 20px; }

h4 {
  margin-bottom: 0;
  font-weight: lighter;
  font-size: 15px; }

img {
  width: auto;
  max-width: 100%;
  height: auto !important; }

.wrapper {
  width: 100%;
  margin: 0 auto; }

.column-3 p {
  font-weight: bold; }

span {
  float: right;
  font-weight: normal; }

.swatch {
  height: 150px;
  margin-bottom: 1em; }

.swatch-small {
  height: 40px;
  margin-bottom: 1em; }

[class*='column-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px; }

@media only screen and (min-width: 30em) {
  .wrapper {
    width: 95%;
    max-width: 65em; }

  .column-1 {
    width: 8.33333%; }

  .column-2 {
    width: 16.66667%; }

  .column-3 {
    width: 25%; }

  .column-4 {
    width: 33.33333%; }

  .column-5 {
    width: 41.66667%; }

  .column-6 {
    width: 50%; }

  .column-7 {
    width: 58.33333%; }

  .column-8 {
    width: 66.66667%; }

  .column-9 {
    width: 75%; }

  .column-10 {
    width: 83.33333%; }

  .column-11 {
    width: 91.66667%; }

  .column-12 {
    width: 100%; } }

/*# sourceMappingURL=styles.css.map */
